body {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
}

.carousel {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.carousel-container {
  padding: 0;
}

.carousel-box {
  display: inline-flex;
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
}

.carousel-tile {
  margin: 0 0;
  padding: 0 0;
  transition: 0.1s ease;
  /* background: red;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.test {
  flex: 1 0 25%;
  height: fit-content;
  min-height: 200px;
  max-height: 50vh;
  margin: 0 0;
  padding: 0 0;
  transition: 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .test {
    flex: 1 0 50%;
  }
}

@media (max-width: 500px) {
  .test {
    flex: 1 0 100%;
  }
}

.carousel-tile img {
  width: 100%;
  /* height: 100%; */
}

.carousel-box:focus,
.carousel-box:active,
.carousel-tile:focus,
.carousel-tile:active {
  outline: none;
}
